@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --primary: #592c83ff;
  --primary-hover: #401866;
  --secondary: #b79cedff;
  --secondary-hover: #a283df;
  --accent: #f5d6baff;
  --alert: #c5283dff;

  --caribbean-current: #006d77ff;
}

* {
  font-family: 'Quicksand' sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section.component {
  position: relative;
  width: max-content;
  border: 0.1em dotted #fff;
}
section.component:hover {
  border: 0.1em dotted var(--secondary-hover);
}

/* admin */
summary {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  cursor: pointer;
}
summary::before {
  content: '🢒';
}
summary::after {
  content: '⤮';
  cursor: move;
}
