@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --primary: #592c83ff;
  --primary-hover: #401866;
  --secondary: #b79cedff;
  --accent: #f5d6baff;
  --alert: #c5283dff;

  --caribbean-current: #006d77ff;
}

* {
  font-family: 'Quicksand' sans-serif;
}
